<div class="container">
  <!-- Note menu -->
  <app-note-menu [selectedNotebook]="selectedNotebook"
                 [searchText]="searchText"
                 (onNotebookCreated)="onNotebookCreated($event)"
                 (onSearchTextChanged)="onSearchTextChanged($event)"
                 (onNoteCreated)="onNoteCreated($event)">
  </app-note-menu>

  <!-- Note content -->
  <div class="row" style="margin-top: 28px;">
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">
        <a (click)="getAllNotes()" class="list-group-item list-group-item-action">
          <i class="fa fa-book"></i>&nbsp;All
        </a>
        <!-- Notebook List -->
        <app-notebook *ngFor="let notebook of notebooks"
                      [notebook]="notebook"
                      (onNotebookDeleted)="onNotebookDeleted($event)"
                      (onNotebookSelected)="onNotebookSelected($event)">
        </app-notebook>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <h4 *ngIf="selectedNotebook">Notes in {{selectedNotebook.name}}</h4>
          <h4 *ngIf="!selectedNotebook">All notes</h4>
          <h6 *ngIf="selectedNotebookNotes.length === 0">There are no notes in this notebook :(</h6>
        </div>
      </div>
      <div class="row">
        <!-- Note list -->
        <app-note *ngFor="let note of selectedNotebookNotes | noteTextSearch: [searchText]"
                  [note]="note"
                  class="col-md-4"
                  (onNoteDeleted)="onNoteDeleted($event)">
        </app-note>
      </div>
    </div>
  </div>
</div>
