/* You can add global styles to this file, and also import other style files */
@import url(~node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(~node_modules/font-awesome/css/font-awesome.css);

.list-group-item{
  cursor: pointer;
}

.input-label{
  background:rgba(0,0,0,0);
  border:none;
  cursor: pointer;
}

.input-label-lg{
  background:rgba(0,0,0,0);
  border:none;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}
