<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <i class="fa fa-sticky-note text-warning"></i>
    <span class="text-warning"> noteit</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/notes">Notes </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/feedback">Feedback</a>
      </li>
    </ul>
  </div>
</nav>
